div{
    background-color: #000;
    background-image: url("/Desarrollo_Web/Source/IMG/90693163_2821651844538431_8040199320940576768_n.jpg");
    background-image:  no repeat;
    background-image:  fixed;
    background-size: 100% 100%;

}
p{
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
}