*{
    box-sizing: border-box;
}
body{
    background-color: #212121;
    margin: 0;
    padding: 0;
}
header{
    padding: 5px 20%;
    margin: 0;
    background-color: #212121;
    position: relative;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header p{ 
    width: 100%;
}
p .titulo{
    color: #fff;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
header .navegacion{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
}
nav a:hover{
    color: #6099e9;
    transition: all 500ms ease;
}
nav a:active{
    color: #3FC0F3;
}
.logo{
    padding: 0 0 0 30px;
}
.logo i{
    font-size: 22px;
    color: #fff;
    padding: 0 10px;
}
h1{
    margin: 60px 330px;;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

.big{
    background-color: #355E99;
    width: 850px;
    height: 550px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px 330px;
    border: 4px solid #355E99;
    border-radius: 6px;
}

#izq{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 80px;
    margin: 20px;
}

input{
    height: 30px;
    border-radius: 4px;
}

#uno{
    height: 500px;
    padding-bottom: 80px;
}

button{
    background-color: rgb(109, 233, 105);
    color: black;
    overflow: hidden;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    border: 3px solid rgb(109, 233, 105);
    border-radius: 6px;
    padding: 10px;
    margin-top: 69px;
    cursor: pointer;
    width: 230px;
    height: 52px;
    transition: all 500ms ease;
}

button:hover{
    background-color: rgb(0, 290, 180 );
    color: #fff;
    border: 3px solid #fff;
    transition: all 500ms ease;
}
footer{
    background-color: #212121;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 0;
    padding: 0 20px;
}
.copyright{
    color: #fff;
    width: 100%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0 10px 20%;
}
.copyright p{
    width: 100%;
}
.politica{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 20% 10px 0;
}
.politica a{
    color: #fff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
}
.politica a:hover{
    color: #6099e9;
    transition: all 500ms ease;
}
