body{
    background-color: #212121;
}

h1{
    margin: 60px 330px;;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

.big{
    background-color: #355E99;
    width: 850px;
    height: 550px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px 330px;
    border: 4px solid #355E99;
    border-radius: 6px;
}

#izq{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 80px;
    margin: 20px;
}

input{
    height: 30px;
    border-radius: 4px;
}

#uno{
    height: 500px;
    padding-bottom: 80px;
}

button{
    background-color: rgb(109, 233, 105);
    color: black;
    overflow: hidden;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    border: 3px solid rgb(109, 233, 105);
    border-radius: 6px;
    padding: 10px;
    margin-top: 69px;
    cursor: pointer;
    width: 230px;
    height: 52px;
    transition: all 500ms ease;
}

button:hover{
    background-color: rgb(0, 290, 180 );
    color: #fff;
    border: 3px solid #fff;
    transition: all 500ms ease;
}
